
  *{
    padding: 0%;
    margin: 0%;
    
}
#navbar_container{
    display: flex;
    justify-content: space-around;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#navbar_container>#logo{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid transparent;
    font-size: 18px;
    }
    #navbar_container>#logo>img{
        padding: 0px 7px;
        width: 75%;
        height: 65%;
        margin: auto;
    }
    #navbar_container>#logo>h1 a{
        color: black;
        text-decoration: none;
    }
    #navbar_container>#menu1{
        display: flex;
        border: 1px solid transparent;
        
        
    }
    #navbar_container>#menu2{
        width: 20%;
        display: flex;
        border: 1px solid transparent;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        
    }
    #navbar_container>#menu2>p{
        width: 35%;
        padding:10px 10px;
        border: 1px solid transparent;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    #navbar_container>#menu2>p:nth-child(2){
        background-color: blue;
        border-radius: 5px;
    }
    #navbar_container>#menu2>p:nth-child(2) a{
        color: white;
    }
    #navbar_container>#menu2>p>a{
        color: black;
        text-decoration: none;
    }
    
  nav .wrapper {
    position: relative;
    padding: 0 40px;
    width: 80%;
    margin: auto;
    padding: 0 30px;
    display: flex;
    align-items: center;

  }

  .nav-links {
    background: white;

    padding: 0;
    box-shadow: 0
  }

  .wrapper {

    width: 100%;
    padding: 0;

  }

  .nav-links>li {
    border: 1px solid transparent;
    list-style: none;
    background: white;
    border-radius: 5px;
    width: 20%;
    padding: 10px;
    margin: 0px;
    
  }
  .nav-links>li li{
    border: 1px solid transparent;
    list-style: none;
    background: white;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin: 0px;
    
  }

  .wrapper .nav-links {
    display: inline-flex;

  }

  .nav-links li a {
    color: black;
    text-decoration: none;
    
    border-radius: 5px;

    transition: all 0.3 s ease;

  }
  .nav-links p:hover {
    color: blue;
    cursor: pointer;
  }
  .nav-links li a:hover {
    color: blue;
    cursor: pointer;
    
  }

  .nav-links .drop_menu1 {
    width: 270px;
    opacity: 0;
    visibility: hidden;
    top: 70px;
    line-height: 15px;
    position: absolute;

  }

  .nav-links li:hover .drop_menu1{
    opacity: 1;
    visibility: visible;
    top: 45px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s ease;
    width: 25%;
    
    font-size: 18px;
    
  }

  .drop_menu1 li a {
    width: 100%;
    display: block;
    
    margin-bottom: 0;

  }

  #navbar_container>#menu1>nav>.wrapper>.nav-links>li>p{
    display: flex;

  }
  #navbar_container>#menu1>nav>.wrapper>.nav-links>li>p>span{
    float:right
  }
  